h1 {
	font-size: 50px;
	font-weight: 900;
	text-align: center;
}
p {
	font-size: 30px;
	font-weight: 700;
	text-align: center;
}
section {
	background-color: #81d8d0;
	border-color: black;
	color: black;
}
article {
	text-align: center;
	background-color: #f3fb71;
	font-size: 20px;
}